<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <mat-card>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="name">
                        Email
                    </label>
                    <input type="email" name="email" class="form-control" ngModel required>
                </div>

                <div class="form-group">
                    <label for="status">
                        Password
                    </label>
                    <input type="password" name="password" class="form-control" ngModel required>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Sign in</button>
            </form>
        </mat-card>
    </div>
  </div>